<section class="panel is-light">
  <div class="panel-header">
    <p>Artikel Berseri</p>
    <span class="fa fa-archive"></span>
  </div>
  <div class="panel-body has-background-white">
    <p>Inkscape Untuk Organisasi Kealumnian:</p>
    <ul class="panel-list">
      <li><a href="<%= url_for("/2014/07/07/desain/inkscape-jadwal-kegiatan/") %>"
            >Inkscape - Pengumuman Jadwal Kegiatan</a></li>
      <li><a href="<%= url_for("/2015/06/06/desain/inkscape-logo-tidak-resmi/") %>"
            >Inkscape - Logo Tidak Resmi Alumni</a></li>
      <li><a href="<%= url_for("/2015/08/08/desain/inkscape-spanduk-kegiatan/") %>"
            >Inkscape - Spanduk Kegiatan</a></li>
      <li><a href="<%= url_for("/2015/08/17/desain/inkscape-undangan-kegiatan/") %>"
            >Inkscape - Undangan Kegiatan</a></li>
      <li><a href="<%= url_for("/2015/09/03/desain/inkscape-logo-perangko/") %>"
            >Inkscape - Logo Perangko</a></li>
      <li><a href="<%= url_for("/2016/11/15/desain/inkscape-logo-mesin-whatsapp/") %>"
            >Inkscape - Logo Mesin Whatsapp</a></li>
    </ul>
  </div>
</section>
