<section class="panel is-light">
  <div class="panel-header">
    <p>Artikel Matematika</p>
    <span class="fa fa-archive"></span>
  </div>
  <div class="panel-body has-background-white">
    <ul class="panel-list">
      <li><a href="<%= url_for("/2019/08/12/pajak/fase-perpajakan") %>"
            >KUP - Fase Perpajakan</a></li>
      <li><a href="<%= url_for("/2019/08/16/pajak/kup-contoh-perhitungan") %>"
            >KUP - Contoh Perhitungan</a></li>
      <li><a href="<%= url_for("/2019/09/01/pajak/op-kategori-pph") %>"
            >OP - Kategori PPh</a></li>
      <li><a href="<%= url_for("/2019/09/02/pajak/op-tarif-pph") %>"
            >OP - Tarif PPh</a></li>
      <li><a href="<%= url_for("/2019/09/03/pajak/op-surat-pemberitahuan") %>"
            >OP - Surat Pemberitahuan</a></li>
      <li><a href="<%= url_for("/2019/09/04/pajak/op-kategori-wp") %>"
            >OP - Kategori Wajib Pajak</a></li>
      <li><a href="<%= url_for("/2019/09/10/pajak/formula-tarif-progresif") %>"
            >Spreadsheet - Formula Tarif Progresif</a></li>
    </ul>
  </div>
</section>
